<a href="https://colab.research.google.com/github/fiqihyusrilm/Machine-Learning/blob/main/SKLearn_PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

In [68]:
# konversi ke pandas
# save load_iris() sklearn dataset to iris
# if you'd like to check dataset type use: type(load_iris())
# if you'd like to view list of attributes use: dir(load_iris())
iris = datasets.load_iris()

# np.c_ is the numpy concatenate function
# which is used to concat iris['data'] and iris['target'] arrays 
# for pandas column argument: concat iris['feature_names'] list
# and string list (in this case one string); you can make this anything you'd like..  
# the original dataset would probably call this ['Species']
df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

In [69]:
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2     0.0
1                4.9               3.0  ...               0.2     0.0
2                4.7               3.2  ...               0.2     0.0
3                4.6               3.1  ...               0.2     0.0
4                5.0               3.6  ...               0.2     0.0

[5 rows x 5 columns]

In [70]:
df1 = df.copy()

In [71]:
df1.drop(columns=['target'], axis=1, inplace=True)

In [72]:
atribut = df1
atribut.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [73]:
target = df['target']
target.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: target, dtype: float64

In [74]:
# bagi dataset menjadi train dan test
X_train, X_test, y_train, y_test = train_test_split(atribut, target, test_size=0.2)

In [75]:
# tanpa PCA
from sklearn import tree
decision_tree = tree.DecisionTreeClassifier()
firt_model = decision_tree.fit(X_train, y_train)
firt_model.score(X_test, y_test)

1.0

In [76]:
# menggunakan pca
from sklearn.decomposition import PCA
 
# membuat objek PCA dengan 4 principal component
pca = PCA(n_components=4)
 
# mengaplikasikan PCA pada dataset
pca_attributes = pca.fit_transform(X_train)
 
# melihat variance dari setiap atribut
pca.explained_variance_ratio_

array([0.92328753, 0.05489335, 0.01660797, 0.00521114])

In [77]:
# PCA dengan 2 principal component
pca = PCA(n_components = 2)
X_train_pca = pca.fit_transform(X_train)
X_test_pca = pca.fit_transform(X_test)

In [78]:
# uji akurasi klasifikasi
model2 = decision_tree.fit(X_train_pca, y_train)
model2.score(X_test_pca, y_test)

1.0

In [83]:
X_train.shape

(120, 4)

In [85]:
X_train_pca.shape

(120, 2)

In [88]:
pca.components_

array([[ 0.38889277, -0.04170041,  0.84362408,  0.36786125],
       [ 0.74000366,  0.59204242, -0.20528442, -0.24441494]])